body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#PageHeader1
{
   background-color: #F5F5F5;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Button1
{
   border: 1px #2E6DA4 solid;
   -moz-border-radius: 85px;
   -webkit-border-radius: 85px;
   border-radius: 85px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Button2
{
   border: 1px #2E6DA4 solid;
   -moz-border-radius: 85px;
   -webkit-border-radius: 85px;
   border-radius: 85px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Button3
{
   border: 1px #2E6DA4 solid;
   -moz-border-radius: 85px;
   -webkit-border-radius: 85px;
   border-radius: 85px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Button4
{
   border: 1px #2E6DA4 solid;
   -moz-border-radius: 85px;
   -webkit-border-radius: 85px;
   border-radius: 85px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#PageFooter1
{
   background-color: #F5F5F5;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
